body {
    margin: 0px;
    padding: 0px;
    font-family: Arial;
    font-size: 16pt;
}

.no-link {
    text-decoration: inherit;
    color: inherit;
}

.arst-wrapper {
    display: flex;
}


.foo-tabs {
    flex: 0 0 30px;
    margin: 5px;
}

.tab__item {
    padding: 8px;
    border: 4px solid transparent;
}

.tab__item--active {
    border: 4px solid blue;
    border-right: 4px solid transparent;
}


.content {
    width: 100%;
}

.content__item {
    display: none;
}

.content__item--active {
    display: block;
}


#editor > .CodeMirror {
    height: 100%;
}
