.vim-statusbar {
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
}

/* span that shows mode ("--NORMAL--", "--INSERT--", etc) */
/* aka .vim-statusbar__status */
.vim-statusbar > span:first-child {
  margin-right: 10px;
  color: black;
}

.vim-statusbar input {
  background-color: inherit;
  color: inherit;
  border: none;
}

.vim-statusbar__status--normal {
  background-color: yellow;
}
.vim-statusbar__status--insert {
  background-color: rgb(129, 230, 255);
}
.vim-statusbar__status--visual {
  background-color: orange;
}